@import '~bootstrap/scss/bootstrap';

.bg_primary {
    background-color: #0282f9;
}

.jumbotron {
    height: 300px;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
}


.banner {

    color: white;
}


.imgholder {

    height: 200px;
    width: 200px;

    & img {
        object-fit: cover;
        object-position: top;
        height: 100%;
    }

}

.series {
    top: -20px;
}