@import '~bootstrap/scss/bootstrap';

.bg_primary {
    background-color: #0282f9;
}

.cl_primary {
    color: #0282f9;
}

.jumbotron {
    height: 300px;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
}


.banner {

    color: white;
}

.banner_m {

    height: 100px;
}

.imgholder {

    height: 200px;
    width: 200px;

    & img {
        object-fit: cover;
        object-position: top;
        height: 100%;
    }

}

.series {
    top: -20px;
}

.section {
    & img {
        object-fit: contain;
        width: 50px;
    }
}

.container_sm {
    max-width: 90%;
    margin: auto;
}

.comic_img {

    width: 230px;
    position: absolute;
    top: 200px;

    & img {}
}

.green_banner {
    background-color: green
}

.bg_lightgrey {
    background-color: lightgray;
}



.container_m {
    margin: auto;
    width: 90%;
    height: 500px;

    & img {
        width: 50%;
        object-fit: cover;

    }

    ul {
        list-style: none;
    }
}

.container_xs {
    width: 35%;
    margin: auto;
}

.up_section {
    background-image: url('../img/footer-bg.jpg');

}

.border_primary {
    border-color: #0282f9;
}